<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>simplilearnProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>aboutServlet</display-name>
    <servlet-name>aboutServlet</servlet-name>
    <servlet-class>com.aboutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aboutServlet</servlet-name>
    <url-pattern>/aboutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>geolocationServlet</display-name>
    <servlet-name>geolocationServlet</servlet-name>
    <servlet-class>com.geolocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>geolocationServlet</servlet-name>
    <url-pattern>/geolocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>weatherServlet</display-name>
    <servlet-name>weatherServlet</servlet-name>
    <servlet-class>com.weatherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>weatherServlet</servlet-name>
    <url-pattern>/weatherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>com.index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
</web-app>